@import "variables.css";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #201f1f;
    --foreground: #ededed;
    --border: #5a5858;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* $bg: #313942;
$ghost: #528cce;
$heading: #e7ebf2; */

*,
*:after,
*:before {
  box-sizing: border-box;
}

.spooky-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  background-color: #313942;

  h1 {
    color: #e7ebf2;
    font-size: 12.5rem;
    letter-spacing: 0.1em;
    margin: 0.025em 0;
    text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;

    @media (max-width: 30rem) {
      font-size: 8.5rem;
    }

    & > span {
      animation: spooky 2s alternate infinite linear;
      color: #528cce;
      display: inline-block;
    }
  }

  h2 {
    color: #e7ebf2;
    margin-bottom: 0.4em;
  }

  p {
    color: #ccc;
    margin-top: 0;
  }

  @keyframes spooky {
    from {
      transform: translatey(0.15em) scaley(0.95);
    }

    to {
      transform: translatey(-0.15em);
    }
  }
}
