.page {
  display: flex;
  gap: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  max-width: 500px;
}

.imageContainer {
  position: relative;
  width: 550px;
  height: 600px;
}

.image {
  object-fit: cover;
  width: auto;
  height: auto;
}

.price {
  margin-top: 40px;
}
