.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

.card:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  transition: box-shadow 0.3s;
}

.info {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 500px;
}

.image {
  object-fit: cover;
  width: auto;
  height: auto;
  border: 1px solid var(--border);
  border-radius: 15px;
}
