.card {
  border: 1px solid var(--border);
  width: 100%;
  height: 100%;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  transition: box-shadow 0.3s;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 400px;
}

.image {
  object-fit: cover;
  width: auto;
  height: auto;
}
